<?xml version='1.0' encoding='utf-8'?>
<widget id="uz.euroasia.crm" version="7.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EuroAsia CRM</name>
    <description>
        EuroAsia Education CRM — Sodda HEMIS Maktab va Markaz Boshqaruvi
    </description>
    <author email="info@euroasia.uz" href="https://euroasia.uz">
        EuroAsia Education Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xb3554ff" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarBackgroundColor" value="#0b3554" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
</widget>
